.container {
  margin-top: 20px;
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-4px);
}

.btn {
  background-color: #bc233b;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #9c1c30;
}

.no-data {
  margin-top: 20px;
  color: #999;
}

.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
  flex-direction: column;
}

.pagination {
  margin-top: 20px;
}


.doctor-collection-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.row .col-md-3 {
  margin-bottom: 20px;
}

.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  text-align: center;
}

.centered-message h2 {
  font-size: 2rem;
  color: #555;
}

.centered-message p {
  font-size: 1.2rem;
  color: #888;
}


.custom-spinner {
  color: rgb(232, 125, 103); 
}








